/* Paleta de colores basada en Minecraft */
:root {
    --mc-green: #57a639;
    --mc-gray-dark: #1c1c1c;
    --mc-gray: #2e2e2e;
    --mc-white: #f4f4f4;
}

/* Configuración general */
body {
    background: var(--mc-gray-dark);
    color: var(--mc-white);
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: var(--mc-gray);
    border-bottom: 2px solid var(--mc-green);
}

.header {
    background: url('../../data/bgs/bg-02.webp') no-repeat center center/cover;
    height: 500px;
    text-align: center;
    color: var(--mc-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid var(--mc-green);
    background-attachment: fixed;
    /* Aquí activas el efecto de parallax */
}


.header h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}

.header p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px black;
}

.server-info {
    background-color: var(--mc-gray);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.server-info h3 {
    color: var(--mc-green);
}

.btn-custom {
    background-color: var(--mc-green);
    color: var(--mc-white);
    border: none;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #3e7c2d;
}

.list-group-item {
    background-color: transparent;
    border: 1px solid var(--mc-gray);
    color: var(--mc-white);
}

.list-group-item:hover {
    background-color: var(--mc-green);
    color: var(--mc-white);
}

.footer {
    background-color: var(--mc-gray);
    border-top: 2px solid var(--mc-green);
    color: var(--mc-white);
    text-align: center;
    padding: 1rem;
}

/* Estilo de imagen de MVP */
.mvp-img {
    border: 3px solid var(--mc-green);
}